/*Í·²¿²¹³ä*/
.nav div:nth-child(5) a{
    color:white;
}
a:hover{
    color: white;
}

/*about*/
.about{
    padding: 100px 0;
    background: #2e2b34;
}
.about .container{
}
.about-info h2{
    margin: 0;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.about-info p{
    text-align: center;
    color: #6d6b71;
    line-height: 1.8em;
    font-size: 16px;
    width: 64%;
    margin: 45px auto 0 auto;
}
.about-grids{
    margin-top: 50px;
}
.about-grids img{
    width:100%;
}
.about-right h3{
    margin: 0;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}
.about-right p{
    margin: 18px 0;
    color: #6d6b71;
    font-size: 16px;
    line-height: 1.8em
}

/*our-staff*/
.staff{
    padding: 50px;
}
.staff-grid p:first-child{
    text-align: center;
}
.our-staff-top h1{
    text-align: center;
    margin: 0;
    color: #2e2b34;
    font-size: 32px;
    font-weight: bold

}
.our-staff-top span{
    color: rgba(34, 98, 163, 0.96);
}
.our-staff-bottom{
    margin-top: 50px;
}
.our-staff-bottom img{
    width:100%;
}
.our-staff-bottom P:first-child{
    font-size:32px;
    color:white;
    background: rgba(34, 98, 163, 0.96);
    margin: 0;
    padding: 0;
}
.our-staff-bottom P:last-child{
    font-size:16px;
    color:white;
    background: rgba(34, 98, 163, 0.96);
}
